{% for control in controls %}
    <div class="col-group">        
        <div class="col-mb-offset-2 col-mb-22">
            {% include 'antares/foundation::layouts.antares.partials.form.vertical._'~control.type|replace({':': '_'}) with {control: control} %}
        </div>        
    </div>
{%endfor %}

