{% for control in controls %}
    <div class="col-group">        
        <div class="col-2"></div>        
        <div class="col-15 form-block">
            {% include 'antares/foundation::layouts.antares.partials.form.vertical._'~control.type|replace({':': '_'}) with {control: control} %}
        </div>
    </div>
{%endfor %}

