<div class="col-group">
    <div class="col-mb-8 col-6 col-dt-4 col-ld-3">

    </div>
    <div class="col-mb-16 col-18 col-dt-12 col-ld-12">
        <div class="input-field input-field__desc">
            <p>{{ description|raw }}</p>
        </div>
        {% if documentation %}
            <div class="input-field__desc">
                {{ documentation|raw }}
            </div>
        {% endif %}
    </div>
</div>
